<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="searchQuery">Search Query</label>
    <input type="text" class="form-control" id="searchQuery" placeholder="Search query">
  </div>
  <div class="form-group">
    <label class="sr-only" for="startDate">Password</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>  
  <button type="submit" class="btn btn-default">Search</button>
</form>

<div class="row chart">
  <bar-chart chart-options="chart"></bar-chart>
</div>
